<!DOCTYPE html>
<head>
    <title>Browse Album</title>
</head>

<h1> Choose the user who's album you want to view</h1>
<body>


<div id="content">
    <form method="post" action="{{ url_for('BrowseAlbum') }}">
        <label for="userMail">Enter the user email:</label>
        <input type="userMail" name="userMail" /><br />
    </form>
</div>



  <ul>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
    <li><a href="/list_friends">See your friends</a></li>
  </ul>

</body>