<!DOCTYPE html>
<head>
    <title>Make FRIENDS</title>
  </head>
  <body>
    <div class="title">
        <h1> Select People to be your friend </h1>
    </div>
    
    <div id="content">
        <form method="post" action="{{ url_for('friends') }}">
            <label for="friendMail">Enter the friends email:</label>
            <input type="friendMail" name="friendMail" /><br />
            <input type="submit" value="Submit" />
        </form>
    </div>
     
    </body>
<a href='/'>Home</a>