<head>
    <title>Add friends of friends</title>
  </head>
  <body>

    <!-- Choose from list of available people to add as friends -->
    {% if message %}
      <h4>{{message}}</h4>
    {% endif %}

    {%if friends%}
        <ul>
        {%for friend in friends%}
            <li>{{friend[0] + ': ' + friend[1] + ' ' + friend[2]}}</li>
        {%endfor%}
        </ul>
        <div id="content">
            <form method="post" action="{{ url_for('AddFriends') }}">
                <label for="friend_mail">Enter the friend's email: </label>
                <input type="friend_mail" name="friend_email" required='true' /><br />
                <input type="submit"/>
            </form>
        </div>
    {%endif%}

    </body>

    <ul>
      <li><a href='/upload'>Upload a photo</a> </li>
      <li><a href='/logout'>Logout</a></li>
      <li><a href='/'>Home</a></li>
      <li><a href="/list_friends">See your friends</a></li>
      
    </ul>
      
    