<!DOCTYPE html>
<head>
    <title>Show Pictures</title>
  </head>

<body>
{% if message %}
  <h2>{{message}}</h2>
{% endif %}

{% if photos %} 
  <ul>
  {% for photo in photos %}

      <li>{{photo[2]}}<br>
      <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
      <br>

      <form method="post" action="/view_likes">
        <input type="hidden" name="photo_id" value="{{photo[1]}}">
        <input type="submit" value="View Likes">
      </form>
      
      <!-- Like Photo -->
      <form method="post" action="/like">
        <input type="hidden" name="photo_id" value="{{photo[1]}}">
        <input type="submit" value="Like">
      <br />
      </form>
      <!-- Delete photo -->
      <form method="post" action="{{ url_for('DeletePhotoFromView')}}">
        <input type="hidden" name="photo_id" value="{{photo[1]}}">
        <input type="submit" name="delete" value="Delete">
      </form>
      <br />
      <!-- Comment on photos -->
      <form method="post" action="{{ url_for('comment') }}">
        <input type="hidden" name="photo_id" value="{{photo[1]}}">
        <input type="hidden" name="user_id" value="{{photo[3]}}">
        <label type="text" name="comment">Comment:</label>
        <input type="text" name="comment" required="true"> <br />
        <input type="submit" name="like" value="Comment">
      </form>
  {% endfor %}
  </ul>
{% endif %}

  <ul>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
  </ul>

</body>